@using WebAS.Resources;

@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = @ViewResource.TitleError;
}

<h1 class="text-danger">@ViewResource.H1Error</h1>
<h2 class="text-danger">@ViewResource.H2Error</h2>

