@using WebAS.Resources;

@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = ViewResource.TitleLogout;
}

<hgroup>
    <h1 class="text-danger">@ViewResource.H1Logout</h1>
    <h2 class="text-danger">@ViewResource.H2Logout</h2>
</hgroup>
